

.products {
	width: 61%;
	margin: 0 auto;
	min-width:827px;
	display: flex;
	flex-direction: column;
}


.items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	min-width: 50%;
}

.title {
	font-size: 2.5rem;
	line-height: 1.25;
	padding-bottom: 40px;
	font-weight: bold;
}

.all {
	width: 256px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10px;	
}

.item {
	font-size: 20px;
	color: #747880;
	line-height: 1;
	margin-bottom: 35px;
	cursor: pointer;
	width: 80%;
}

.item:hover {
		color:  #3C3C43;
	}

.image {
	display: block;
}

.select {
	color: #3C3C43;
}

.element {
	color: #3C3C43;
	font-size: 1rem;
	line-height: 34px;
	padding-bottom: 3px;
	border-bottom: 2px solid #3C3C43;
	font-family: "Roboto", sans-serif;

}

.wrap {
	margin: 13px 0 10px;
}

.btn {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	width: 80%;
	min-width: 216px;
	text-align: center;
	height: 53px;
	display: block;
	line-height: 49px;
	color: #3C3C43;
	border: 2px solid #3C3C43;
	font-size: 1.125rem;
}

.btn:hover{
	background-color: #3C3C43;
	color: #ffffff;
	transition: ease-out 0.3s;
}